*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%
}
#main{
    height: 100%;
    width: 100%;
    padding-top: 1px;
    position: relative;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 14vh;
    margin-top: 2%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#navbar p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
#navbar p span {
    font-family: "monument", sans-serif;
    font-weight: 900;
    font-size: 2.25vw;
    letter-spacing: -0.33vw;
    margin-right: 0.4vw; 
}
#navbar p i {
    top: 0.75%;
    font-size: 1vw;
}
#navbar h4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding-right: 3vw;
    height: 100%;
    border-right: 2px solid black;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    /* line-height: 3vw; */
}
#navbar h4:nth-last-child(1)
{
    width: 15%;
    font-size: 1.5vw;
    font-weight: 200;
}
#navbar h4:nth-last-child(2)
{
    width: 30%;
}
section{
    width: 100%;
    height: 100%;
    padding: 5vw 5vw 2.5vw 5vw;
    position: relative;
    overflow: hidden;
}
#video-container{
    height: 100%;
    width: 100%;
    position: relative;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: top;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    padding: 6vw 2.5vw;
    font-family: monument,'sans-serif';
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#over1 h1{
    font-size: 3.5vw;
    font-weight: 100;
    color: aliceblue;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-size: 2.25vw;
    border-top: 2px solid aliceblue;
}
#over2 h4{
    padding-right: 0.75vw;
}
#circle{
    border-radius: 50%;
    width: 6vw;
    height: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid white;
    color: aliceblue;
    text-align: center;
    font-size: 2.5vw;
}
#circle p{
    font-weight: 100;
    font-family: monument,'sans-serif';
}
#scroll{
    height: 30vh;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}
#container-one{
    height: 100%;
    width: 100%;
    display: inline-block;
    animation-name: anime;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#container-two{
    height: 100%;
    width: 100%;
    display: inline-block;
    animation-name: anime;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#scroll img{
    height: 80%;
    width: 12%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 1vw;
}
@keyframes anime {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#alphabet h5{
    padding: 1vw;
    text-decoration: underline;
    font-size: 2vw;
    font-weight: 400;
    font-style: italic;
}
#alphabet h6{
    padding: 0.25vw 0.35vw;
    font-size: .95vw;
    font-weight: 300;
    font-style: italic;
    border: 1px solid white;
    border-radius: 65%;
    transition: all ease-in-out 0.2s;
}
#alphabet h6:hover{
    border: 1px solid black;
    transform: scale(150%);
    cursor: pointer;
}