*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%
}
#main{
    height: 100%;
    width: 100%;
    padding-top: 1px;
    position: relative;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 14vh;
    margin-top: 2%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#navbar p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
#navbar p span {
    font-family: "monument", sans-serif;
    font-weight: 900;
    font-size: 2.25vw;
    letter-spacing: -0.33vw;
    margin-right: 0.4vw; 
}
#navbar p i {
    top: 0.75%;
    font-size: 1vw;
}
#navbar h4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding-right: 3vw;
    height: 100%;
    border-right: 2px solid black;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    /* line-height: 3vw; */
}
#navbar h4:nth-last-child(1)
{
    width: 15%;
    font-size: 1.5vw;
    font-weight: 200;
}
#navbar h4:nth-last-child(2)
{
    width: 30%;
}
section{
    width: 100%;
    height: 81.90%;
    padding: 1.5vw;
    position: relative;
    overflow: hidden;
}
#video-container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    transform: scale(0.9);
}
#overlay{
    position: absolute;
    width:93.99%;
    height: 50%;
    bottom: 0;
    padding: 2.5vw 0 0 5.75vw;
    font-family: monument,'sans-serif';
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#over1 h1{
    height: 100%;
    width: 100%;
    mix-blend-mode:overlay;
    font-size: 3.5vw;
    font-weight: 100;
    color: aliceblue;
}
#over1 h2{
    padding-right: 0.5vw;
    font-size: 2.5vw;
    font-weight: 100;
    mix-blend-mode:overlay;
    color: aliceblue;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    mix-blend-mode: overlay;
    font-size: 2.25vw;
    border-top: 2px solid aliceblue;
}
#over2 h4{
    padding-right: 0.75vw;
}